html,
body {
    height: 100%;
    background-color: #ddd;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-container {
    margin: auto;
    max-width: 960px;
    height: 100%;
    background-color: white;
    font-size: 0;
}

#sidebar,
#content {
    display: inline-block;
    padding: 24px;
    min-height: 100%;
    vertical-align: top;
    font-size: 16px;
}

#sidebar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    background-color: #71b1d1;
    color: white;
}

#content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
}

.count-cirle {
    float: right;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    color: #71b1d1;
}

.tree__node .tree__node {
    margin-left: 12px;
}
