<script type="text/html" id="treenodetemplate">
    <div data-bind="attr: {'class': 'tree__node sidebaritem sidebaritem--subitem sidebaritem--actionable level' + depth()},css: {'sidebaritem--selected': $root.activeVM() === $data}">
        <span data-bind="visible: nodes().length > 0, click: function(){ isOpen(!isOpen());}">+</span>
        <span data-bind="text: title, click: $root.categoryClicked"></span>
        <span class="count-cirle" data-bind="text: posts().length, click: $root.categoryClicked"></span>
    </div>
    <!-- ko if: isOpen() && nodes().length > 0 -->
    <!-- ko template: {name: 'treenodetemplate', foreach: nodes} --><!-- /ko -->
    <!-- /ko -->
</script>

<script type="text/html" id="categorypickernodetemplate">
    <!-- ko foreach: data -->
    <div class="tree__node">
        <h6>
            <span data-bind="visible: nodes().length > 0, click: function(){ isOpen(!isOpen());}">+</span>
            <span data-bind="text: title,click: function(){ $parent.post.category($data); }"></span>
            <span class="count-cirle" data-bind="text: posts().length"></span>
        </h6>
        <ul data-bind="visible: isOpen() && nodes().length > 0, template: {name: 'categorypickernodetemplate', data:{data: nodes, post: $parent.post}}"></ul>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="editabletexttemplate">
    <span data-bind="html: data() ? data : $data.text || 'Edit',click:data.editText,visible: !data.editingText()"></span>
    <input data-bind="value: data,event:{blur:data.stopEditingText},visible: data.editingText(),hasfocus:data.editingText(),valueUpdate: 'keyup'" type="text" style="display:inline" />
</script>

<script type="text/html" id="editableblocktexttemplate">
    <p data-bind="html: data() ? data : $data.text || 'Edit',click:data.editText,visible: !data.editingText()"></p>
    <textarea data-bind="value: data,event:{blur:data.stopEditingText},visible: data.editingText(),hasfocus:data.editingText(),valueUpdate: 'keyup'" style="display:inline"></textarea>
</script>

<script type="text/html" id="recentpostlistitemtemplate">
    <li class="sidebaritem sidebaritem--subitem sidebaritem--actionable" data-bind="css: {'sidebaritem--selected': $root.activeVM() === $data}">
        <span data-bind="text: title, click: $parent.postClicked"></span>
    </li>
</script>

<script type="text/html" id="taglistitemtemplate">
    <li class="sidebaritem sidebaritem--subitem sidebaritem--actionable" data-bind="click: $root.tagClicked,css: {'sidebaritem--selected': $root.activeVM() === $data}">
        <span data-bind="text: title"></span>
        <span data-bind="text: items.length" class="count-cirle"></span>
    </li>
</script>

<script type="text/html" id="editposttemplate">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-4">Title</label>
            <div class="col-xs-8">
                <span style="margin-top: 7px;font-weight: bold; display: inline-blocK" data-bind="template: {name: 'editabletexttemplate',data:{data: title} }"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Slug</label>
            <div class="col-xs-8" style="margin-top: 7px">
                <span data-bind="text: slug"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Kategori</label>
            <div class="col-xs-8" style="margin-top: 7px">
                <div data-bind="visible: !isEditingCategory(),click: function(){isEditingCategory(!isEditingCategory())}, text: category() ? category().title : 'Välj en kategori'"></div>
                <div data-bind="visible: isEditingCategory">
                    <div class="tree__node" data-bind="with: $root.getCategoriesTree()">
                        <h6>
                            <span data-bind="text: title,click: function(){ $parent.category($data); }"></span>
                            <span data-bind="visible: nodes().length > 0, click: function(){ isOpen(!isOpen());}">+</span>
                            <span class="count-cirle" data-bind="text: posts().length"></span>
                        </h6>
                        <ul data-bind="visible: isOpen() && nodes().length > 0, template: {name: 'categorypickernodetemplate', data:{data: nodes, post: $parent}}"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Content</label>
            <div class="col-xs-8" style="margin-top: 7px" data-bind="template: {name: 'editableblocktexttemplate', data:{data: content}}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Tags</label>
            <div class="col-xs-8">
                <input class="form-control" data-bind="value: tags, valueUpdate: 'keyup'" />
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <div class="btn btn-default" data-bind="click: $parent.updatePost">Spara</div>
        </div>
    </div>
</script>

<script type="text/html" id="listallpostsdetailedtemplate">
    <h2>Inlägg</h2>
    <ul data-bind="template: { foreach: $data, name: 'detailedpostlistitemtemplate' }"></ul>
</script>

<script type="text/html" id="taggedpostsdetailedtemplate">
    <h2 data-bind="visible: title,text: 'Inlägg taggade med: ' + title"></h2>
    <ul data-bind="template: { foreach: items, name: 'detailedpostlistitemtemplate' }"></ul>
</script>

<script type="text/html" id="categoriespostsdetailedtemplate">
    <h2 data-bind="visible: title,text: 'Inlägg i kategorin: ' + title()"></h2>
    <ul data-bind="template: { foreach: posts, name: 'detailedpostlistitemtemplate' }"></ul>
</script>

<script type="text/html" id="detailedpostlistitemtemplate">
    <div class="post" data-bind="click: $root.postClicked">
        <h4 data-bind="text: title"></h4>
        <div data-bind="foreach: displayTags">
            <span data-bind="text: $data, click: $root.tagClicked.bind($data)"></span>
        </div>
        <p data-binsd="html: content"></p>
    </div>
</script>