
<div class="site-container">
    <div id="sidebar">
        <a id="btnCreate">Create</a>
        <div class="sidebaritem">
            Recent
            <ul data-bind="foreach: recentPosts">
                <li class="sidebaritem--subitem"><a data-bind="text: title, click:$parent.openItem"></a></li>
            </ul>
        </div>
        <div class="sidebaritem">
            Tags
            <ul data-bind="foreach: tags">
                <li class="sidebaritem--subitem" data-bind="text: $data"></li>
            </ul>
        </div>
        <div class="sidebaritem">
            Categories
            <ul data-bind="foreach: categories">
                <li class="sidebaritem--subitem" data-bind="text: name"></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div id="frmCreate">
            <form data-bind="submit: addPost">
                <div id="createView" data-bind="with:postToAdd">
                    <label>Title</label>
                    <input id="theTitle" data-bind="value: title, valueUpdate: 'afterkeydown'  " />
                    <br />
                    <label>Tags</label>
                    <input id="theTags" data-bind="value: tagsFormatted, valueUpdate: 'afterkeydown'  " />
                    <br />
                    <label>Category</label>
                    <select data-bind="foreach: $parent.categories">
                        <option data-bind="value:v,text:name"></option>
                    </select>
                    <br />
                    <input type="submit" value="Spara" />
                </div>
            </form>
        </div>

        <div id="frmRecent">
            <div id="recentView" data-bind="with:postToAdd">
                <label>Title</label>
                <input id="theTitle" data-bind="value: title, valueUpdate: 'afterkeydown'  " />
            </div>
        </div>

    </div> @*content*@
</div>

    @section scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/knockout-3.0.0.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
        <script src="~/Scripts/VMs/adminVM.js"></script>
        @* Add any additional VM files or other scripts here *@
    }

    @section head {
        <link href="~/Content/main.min.css" rel="stylesheet" />
        @* Add any custom styling here *@
    }
