
<div class="site-container">
    <div id="sidebar">
        <a href="javascript:;" data-bind="click: newPost"><i class="glyphicon glyphicon-plus-sign"></i> Create</a>
        <h4 class="sidebaritem sidebaritem--actionable" data-bind="click: homeClicked, css: {'sidebaritem--selected': $root.activeVM() === $root.posts()}"><i class="fa fa-home"></i>Home</h4>
        <h4 class="sidebaritem"><i class="fa fa-clock-o"></i>Recent</h4>
        <ul data-bind="template: {name: 'recentpostlistitemtemplate',foreach: recentPosts}"></ul>
        <h4 class="sidebaritem"><i class="fa fa-tags"></i>Tags</h4>
        <ul data-bind="template: { name: 'taglistitemtemplate',foreach: tags}"></ul>
        <h4 class="sidebaritem"><i class="fa fa-list-ul"></i>Categories</h4>
        <div data-bind="template: {name: 'treenodetemplate', foreach: categories}"></div>
    </div>
    <div id="content" data-bind="template: {data: activeVM,name: activeVM.templateType + 'template'}">
    </div>
</div>

@section scripts {
    <script src="~/Scripts/extenders.js"></script>
    <script src="~/Scripts/VMs/PostVM.js"></script>
    <script src="~/Scripts/VMs/CategoryVM.js"></script>
    <script src="~/Scripts/VMs/adminVM.js"></script>
    @{RenderPartialExtensions.RenderPartial(Html, "_KoTemplates");}
    <script>
        adminVM.init({
            rootUrl: '@Url.Content("~")'
        });

        ko.applyBindings(adminVM, document.getElementsByTagName('body')[0]);
    </script>
}